<div class="nav">
  <h1 style="text-align: end;"><span style="color: #287F89;">สภาพน้ำใช้การ</span>อ่างเก็บน้ำ<br>ขนาดใหญ่ <span
    style="color: #FF0000;">35</span> แห่ง</h1>
</div>

<div class="1-9">
  <app-container [name]="'เขื่อนแม่งัดสมบูรณ์ชล'" [numberC]="1" [numberLeft]="'87'" [numberRigth]="34" ></app-container>
  <app-container [name]="'เขื่อนแม่กวงอุดมธารา'" [numberC]="2" [numberLeft]="'46'" [numberRigth]="19"></app-container>
  <app-container [name]="'เขื่อนภูมิพล'" [numberC]="3" [numberLeft]="'2,810'" [numberRigth]="29"></app-container>
  <app-container [name]="'เขื่อนกิ่วคอหมา'" [numberC]="4" [numberLeft]="'90'" [numberRigth]="55"></app-container>
  <app-container [name]="'เขื่อนกิ่วลม'" [numberC]="5" [numberLeft]="'75'" [numberRigth]="73"></app-container>
  <app-container [name]="'เขื่อนแม่บอก'" [numberC]="6" [numberLeft]="'99'" [numberRigth]="105"></app-container>
  <app-container [name]="'เขื่อนสิริกิติ์'" [numberC]="7" [numberLeft]="'1,317'" [numberRigth]="20"></app-container>
  <app-container [name]="'เขื่อนแควน้อยบำรุงแดน'" [numberC]="8" [numberLeft]="'812'" [numberRigth]="91"></app-container>
  <app-container [name]="'เขื่อนทับเสลา'" [numberC]="9" [numberLeft]="'139'" [numberRigth]="97"></app-container>
</div>

<div class="container-10-11">
  <app-container [name]="'เขื่อนป่าสักชลสิทธิ์'" [numberC]="10" [numberLeft]="'1,024'" [numberRigth]="107"></app-container>
  <app-container [name]="'เขื่อนกระเสียว'" [numberC]="11" [numberLeft]="'211'" [numberRigth]="82"></app-container>
</div>

<div class="container-30-33">
  <app-container [name]="'เขื่อนศรีนครินทร์'" [numberC]="30" [numberLeft]="'4,022'" [numberRigth]="54"></app-container>
  <app-container [name]="'เขื่อนศรีนครินทร์'" [numberC]="31" [numberLeft]="'4,011'" [numberRigth]="69"></app-container>
  <app-container [name]="'เขื่อนแก่งกระจาน'" [numberC]="32" [numberLeft]="'486'" [numberRigth]="75"></app-container>
  <app-container [name]="'เขื่อนปราณบุรี'" [numberC]="33" [numberLeft]="'266'" [numberRigth]="71"></app-container>
</div>

<div class="container-34-35">
  <app-container [name]="'เขื่อนรัชชประภา'" [numberC]="34" [numberLeft]="'2,541'" [numberRigth]="59"></app-container>
  <app-container [name]="'เขื่อนบางลาง'" [numberC]="35" [numberLeft]="'458'" [numberRigth]="39"></app-container>
</div>

<div class="container-24-29">
  <app-container [name]="'เขื่อนขุนด่านปราการชล'" [numberC]="24" [numberLeft]="'201'" [numberRigth]="92"></app-container>
  <app-container [name]="'เขื่อนคลองสียัด'" [numberC]="25" [numberLeft]="'175'" [numberRigth]="45"></app-container>
  <app-container [name]="'เขื่อนบางพระ'" [numberC]="26" [numberLeft]="'59'" [numberRigth]="56"></app-container>
  <app-container [name]="'เขื่อนหนองปลาไหล'" [numberC]="27" [numberLeft]="'158'" [numberRigth]="105"></app-container>
  <app-container [name]="'เขื่อนประแสร์'" [numberC]="28" [numberLeft]="'263'" [numberRigth]="96"></app-container>
  <app-container [name]="'เขื่อนนฤบดินทรจินดา'" [numberC]="29" [numberLeft]="'236'" [numberRigth]="86"></app-container>
</div>

<div class="container-12-23">
  <app-container [name]="'เขื่อนห้วยหลวง'" [numberC]="12" [numberLeft]="'62'" [numberRigth]="48"></app-container>
  <app-container [name]="'เขื่อนน้ำพุง'" [numberC]="13" [numberLeft]="'75'" [numberRigth]="47"></app-container>
  <app-container [name]="'เขื่อนน้ำอูน'" [numberC]="14" [numberLeft]="'240'" [numberRigth]="51"></app-container>
  <app-container [name]="'เขื่อนจุฬาภรณ์'" [numberC]="15" [numberLeft]="'122'" [numberRigth]="96"></app-container>
  <app-container [name]="'เขื่อนอุบลรัตน์'" [numberC]="16" [numberLeft]="'1,175'" [numberRigth]="64"></app-container>
  <app-container [name]="'เขื่อนลำปาว'" [numberC]="17" [numberLeft]="'856'" [numberRigth]="46"></app-container>
  <app-container [name]="'เขื่อนลำตะคอง'" [numberC]="18" [numberLeft]="'236'" [numberRigth]="81"></app-container>
  <app-container [name]="'เขื่อนลำพระเพลิง'" [numberC]="19" [numberLeft]="'143'" [numberRigth]="93"></app-container>
  <app-container [name]="'เขื่อนมูลบน'" [numberC]="20" [numberLeft]="'127'" [numberRigth]="95"></app-container>
  <app-container [name]="'เขื่อนลำแชะ'" [numberC]="21" [numberLeft]="'229'" [numberRigth]="85"></app-container>
  <app-container [name]="'เขื่อนลำนางรอง'" [numberC]="22" [numberLeft]="'99'" [numberRigth]="84"></app-container>
  <app-container [name]="'เขื่อนสิรินธร'" [numberC]="23" [numberLeft]="'731'" [numberRigth]="64"></app-container>
</div>

<div class="container-foot">
  <app-containerfoot></app-containerfoot>
</div>