<div class="top-container-foot">
    <p>เกณฑ์ปริมาณน้ำ</p>
  </div>
  <div class="bottom-container-foot">
    <div class="two-coloum">
      <div class="container-yellow">
        <p>น้ำน้อย</p>
      </div>
      <p>(ต่ำกว่า LRC)</p>
    </div>

    <div class="two-coloum">
      <div class="container-green">
        <p>น้ำปกติ</p>
      </div>
      <p>(ระหว่าง LRC - URC)</p>
    </div>

    <div class="two-coloum">
      <div class="container-red">
        <p>น้ำมาก</p>
      </div>
      <p>(สูงกว่า URC)</p>
    </div>

  </div>
